* {  
    box-sizing: border-box;
}

/* Web Fonts ------*/


/* Basic Styles ------*/

:root {
    background:rgb(245, 245, 245);
  }
#copyright {
    font-size: 10px;
    font-weight: 100;
    text-align: center;
}

hr {
    display: inline-block;
    width: 100%;
}

body {
    margin: 0;
}

/* link Styles ------*/

/* Flexbox ------*/
.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    height: 100%;
    padding: 0 2%;
}

/* Header Styles ------*/
    .header-wrapper {
        display: flex;
        background-color: rgb(44, 44, 44);
        width: 100%;
        height: 60px;
        margin: 0 auto;
        justify-content: center;
        color: white;
    }

/* Form Styles ------*/
    form {
        display: flex;
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }

    fieldset {
        display: flex;
        flex: 1;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding: 20px;     
    }

    input[type=text],
    input[type=email] {
        width: 100%;
        height: 50px;
        border: 2px;
        border-radius: 4px;
        background-color: rgb(207, 207, 207);
    }

    input[type=checkbox] {

    }

/* DRY Coding ------*/

input[attr=name] {
    padding-bottom: 20px;
}



/* Footer ------*/



/* Media Queries ------*/

@media screen and (min-width: 768px) {
    

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }