* {  
    box-sizing: border-box;
}

/* Web Fonts ------*/


/* Basic Styles ------*/

.container>*,
#copyright {
    text-align: center;
}

:root {
    background:rgb(245, 245, 245);
  }
#copyright {
    font-size: 10px;
    font-weight: 100;
}

hr {
    display: inline-block;
    width: 100%;
}

body {
    margin: 0;
}

/* Flexbox ------*/
.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    height: 100%;
    padding: 0 2%;
}

.newsletter,
.newsletter-format {
    width: 100%;
    text-align: left;
}

/* Header Styles ------*/
    .header-wrapper {
        display: flex;
        background-color: rgb(44, 44, 44);
        width: 100%;
        height: 60px;
        margin: 0 auto;
        justify-content: center;
        color: white;
    }

/* Form Styles ------*/

    fieldset {
        display: flex;
        flex: 1;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding: 20px;
        border: none;     
    }

    fieldset p {
        font-size: 14pt;
        font-weight: 400;
    }

    legend {
        font-size: 20pt;
        font-weight: bolder;
    }

    input[type=text],
    input[type=email] {
        height: 50px;
    }

    /* credit to dota2pro on stackoverflow -> :focus outline radius fix: https://stackoverflow.com/questions/5394116/outline-radius */
    input:focus,
    textarea:focus {
        outline: none;
        box-shadow: 0 0 0 2pt rgb(0, 63, 105);
      }

    label {
        padding: 10px 0;
        white-space: nowrap;
    }

    textarea {
       height: 10em; 
       font-size: 12pt;
    }

    .option,
    .text-box {
        padding: 10px 0;
    }

    .text-box label {
        display: flex;
        padding: 20px 0;
    }

    
/* DRY Coding ------*/

input[attr=name] {
    padding-bottom: 20px;
}

textarea,
input[type=text],
input[type=email] {
    background-color: rgb(221, 219, 219);
    border: 2px;
    border-radius: 4px;
    width: 100%;
    padding: 0 10px;
}


/* Footer ------*/



/* Media Queries ------*/

@media screen and (min-width: 768px) {
    

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }